{% extends "base-template.html" %}

{% block title %}Story{% endblock %}

{% block content %}

<div class="wrapper dark story">
    <h1>{{ story_title }}</h1>
    {%- if let Some(tagline) = tagline -%}<h2>{{ tagline }}</h2>{%- endif -%}
    <h2>Written by {{ authors | join(", ") }}
    </h2>
    {%- if let Some(editors_note) = editors_note -%}
        <em><b>Editor's Note:</b> {{ editors_note }} </em><br><br>
    {%- endif -%}
    {%- if let Some(prev_story) = prev_story -%}
        <a href="/stories/{{ prev_story.slug }}"><- Previous Story</a> 
    {%- endif -%}
    <div class="text">
        {{ content }}
    </div>
    {%- if let Some(next_story) = next_story -%}
        <a href="/stories/{{ next_story.slug }}">Next Story -></a> 
    {%- endif -%}
</div>
{% endblock %}