services:
  rust-backend:
    build: rust/.
    tty: true
    stdin_open: true
    restart: unless-stopped
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DATABASE=powerdown_db
      - RUST_LOG=debug
      - S3_PUBLIC_BUCKET_NAME=${S3_PUBLIC_BUCKET_NAME:-powerdown-public-storage}
      - S3_SQL_BACKUP_BUCKET_NAME=${S3_SQL_BACKUP_BUCKET_NAME:-powerdown-sql-backups-storage}
      - DEBUG
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - AWS_ENDPOINT_URL
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_REGION
      - DISCORD_OAUTH2_CLIENT_ID
      - DISCORD_OAUTH2_CLIENT_SECRET
      - GOOGLE_OAUTH2_CLIENT_ID
      - GOOGLE_OAUTH2_CLIENT_SECRET
      - GITHUB_OAUTH2_CLIENT_ID
      - GITHUB_OAUTH2_CLIENT_SECRET
      - WEBSITE_URL
      - S3_URL
    ports:
      - 8080:8080
    depends_on:
      postgres:
        condition: service_started
      localstack:
        condition: service_started

  postgres:
    image: postgres:16
    shm_size: 256mb # Needs at least 128mb.
    environment:
      POSTGRES_DB: powerdown_db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: "Asia/Jerusalem"
    volumes:
      - pd_postgres:/var/lib/postgresql/data  
      - ./postgres/init:/docker-entrypoint-initdb.d
    
  localstack:
    profiles: [development]
    container_name: "${LOCALSTACK_DOCKER_NAME:-localstack-main}"
    image: localstack/localstack
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      # LocalStack configuration: https://docs.localstack.cloud/references/configuration/
      - DEBUG=${DEBUG:-0}
      - PERSISTENCE=0 # Change this once the server is prod ready.
      - DISABLE_CORS_CHECKS=1
    volumes:
      - "./localstack-init/init-public-bucket.sh:/etc/localstack/init/ready.d/init-public-bucket.sh"  # Auto-run on ready
      - "/var/run/docker.sock:/var/run/docker.sock"
      - /var/lib/localstack
