services:
  rust-backend:
    build: rust/.
    tty: true
    stdin_open: true
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DATABASE: powerdown_db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      AWS_ENDPOINT_URL: ${AWS_ENDPOINT_URL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      DISCORD_OAUTH2_CLIENT_ID: ${DISCORD_OAUTH2_CLIENT_ID}
      DISCORD_OAUTH2_CLIENT_SECRET: ${DISCORD_OAUTH2_CLIENT_SECRET}
      GOOGLE_OAUTH2_CLIENT_ID: ${GOOGLE_OAUTH2_CLIENT_ID}
      GOOGLE_OAUTH2_CLIENT_SECRET: ${GOOGLE_OAUTH2_CLIENT_SECRET}
      GITHUB_OAUTH2_CLIENT_ID: ${GITHUB_OAUTH2_CLIENT_ID}
      GITHUB_OAUTH2_CLIENT_SECRET: ${GITHUB_OAUTH2_CLIENT_SECRET}
      S3_PUBLIC_BUCKET_NAME: ${S3_PUBLIC_BUCKET_NAME:-powerdown-public-storage}
      S3_SQL_BACKUP_BUCKET_NAME: ${S3_SQL_BACKUP_BUCKET_NAME:-powerdown-sql-backups-storage}
      RUST_LOG: debug
      WEBSITE_URL: ${WEBSITE_URL}
    ports:
      - 8080:8080

  postgres:
    image: postgres:16
    shm_size: 256mb # Needs at least 128mb.
    environment:
      POSTGRES_DATABASE: powerdown_db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      TZ: "Asia/Jerusalem"
    volumes:
    #  - pd_postgres:/var/lib/postgresql/data  # TODO: Uncomment once the db is ready
      - ./postgres/init:/docker-entrypoint-initdb.d
    # TODO: Delete the temporary volumes out once finished with development.
    tmpfs:
      - /var/lib/postgresql/data
