.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 0.5ch;
    height: 1.5em;

    &.debug {
        color: red;
        background-color: yellow;
        font-weight: bold;
        text-align: center;
        z-index: 200;
    }
}