.frontpage {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .frontpage-top {
        overflow: hidden;
        background-color: var(--dark-shade);
        height: 6em;
        width: 100%;
        display: flex;
        flex-direction: row;

        .titles {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 1em 0 1em 2ch;

            >* {
                margin: 0;
            }

            h2 {
                font-size: 1.1em;
            }
        }

        .logo {
            background-color: var(--neutral-shade);
            aspect-ratio: 1 / 1;
            height: 125%;
            border-radius: 50%;
            flex-grow: 0;
            position: relative;
            top: -12.5%;
            display: flex;

            img {
                height: 75%;
                margin: auto;
            }
        }

        .links {
            aspect-ratio: 2 / 1;
            display: flex;
            flex-direction: column;
            flex-grow: 0;

            a {
                overflow: visible;
                text-decoration: none;
                height: 2em;
                position: relative;
                display: flex;
                width: 70%;
                margin: auto;
                background-color: var(--link-color);
            }

            img {
                height: 110%;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                border-width: .4ch;
                border-style: solid;
                aspect-ratio: 1;
                background-color: var(--link-color);
                border-color: var(--link-color);
            }

            span {
                text-align: center;
                margin: auto;
                display: inline-block;
                width: 100%;
            }

            .discord {
                --link-color: #5e66f1;
            }

            .onboard {
                --link-color: green;
            }
        }
    }


    .frontpage-bottom {
        display: flex;
        flex-direction: row;
        gap: 1em;

        .frontpage-buttons {
            flex-grow: 3;
            display: grid;
            justify-items: stretch;
            gap: 1em;
            grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
            height: min-content;

            .button {
                background-color: var(--darkest-shade);
                display: flex;
                justify-content: space-between;
                padding: 1ch;
                height: 8em;
                text-decoration: none;

                span {
                    font-size: 2em;
                    margin: auto 1ch;
                    font-weight: 600;
                    overflow-wrap: break-word;
                }

                img {
                    height: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
            }
        }
    }

    .joke-area {
        width: 35%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .brought-by {
            background-color: var(--bright-shade);
            padding: 1.5em 1ch;
            display: flex;
            flex-direction: column;
            width: 100%;

            div {
                white-space: pre;
                font-size: 1.2em;
                font-weight: bold;
                text-align: center;
                margin-bottom: 1em;
                text-wrap: balance;
            }

            img {
                max-width: 100%;
                max-height: 15em;
                object-fit: contain;
            }
        }

        .birthday {
            font-size: 0.9em;
        }
    }
}

@media screen and (max-width: 1100px) {
    .frontpage {
        width: 100%;

        .frontpage-top {
            height: 7em;

            .logo {
                display: none;
            }

            .links {
                width: 12em;
                aspect-ratio: unset;
            }
        }

        .frontpage-bottom {
            flex-direction: column;
        }

        .joke-area {
            width: 100%;

            .brought-by {
                width: unset;
            }
        }
    }
}