.wrapper.lore {
    .categories {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 1em 0;
    }

    .category {
        background: var(--bright-shade);
        padding: 1ch;

        summary {
            list-style-type: none;

            &::-webkit-details-marker {
                display: none;
            }

            font-weight: bold;
            font-size: 1.4em;
        }

        a {
            text-decoration: none;
        }
    }

    &.edit {
        div.category {
            border: dashed var(--brightest-shade);
            padding: 0 1em;

            h3:before {
                content: "Name:";
                margin-right: 1ch;
                color: var(--bright-shade);
            }

            .text:before {
                content: "Description:";
                margin-right: 1ch;
                color: var(--bright-shade);
            }
        }
    }
}