.wrapper.tierlist {
    &.hide-retired {
        .retired {
            display: none;
        }
    }
    &.hide-hidden {
        .hidden {
            display: none;
        }
    }

    #tierlist-collector, #tierlist-holder {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        height: min-content;
        width: 100%;
    }

    #tierlist-holder {
        background-color: var(--bright-shade);
    }

    #tierlist-collector {
        background-color: var(--darker-shade);

        &.hide-settings {
            .settings {
                display: none;
            }
        }
    }

    h1 {
        margin: 0.5em auto;
    }

    .tier {
        background-color: var(--darker-shade);
        min-height: 100px;
        height: min-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;

        &:first-child {
            .settings {
                img:first-child {
                    display: none;
                }
            }
        }

        &:last-child {
            .settings {
                img:last-child {
                    display: none;
                }
            }
        }

        .settings {
            width: 40px;
            margin-right: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-shrink: 0;

            * {
                max-width: 100%;
            }
        }

        .name {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: orange;
            width: 100px;
            padding: 0.5ch;
            word-break: break-word;
            flex-shrink: 0;
            font-weight: bold;
        }
        .holder {
            background-color: var(--darker-shade);
            display: flex;
            flex-direction: row;
            align-items: start;
            flex-wrap: wrap;
        }
    }

    #tierlist-origin {
        margin-top: 3em;
        
        .holder {
            padding: 0.5em;
            justify-content: center;
        }
    }
}