nav {
    font: 1em "Urbanist";
    justify-content: space-between;
    display: flex;
    background-color: var(--bright-shade);
    padding: 0.5em 1em;

    a {
        text-decoration: none;
    }

    .curr-page {
        color: white;
    }

    .nav-item {
        color: var(--brightest-shade);
        transition: color 0.5s;

        &:hover {
            color: white;
            transition: color 0.3s;
        }
    }

    .title {
        font-size: 2em;
        font-weight: 800;
        min-height: min-content;
        margin: auto;
    }

    .left, .right {
        padding-right: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1ch;

        * {
            display: inherit;
            gap: 1ch;
        }
    }

    .profile-pic {
        height: 3.25em;
        aspect-ratio: 1/1;
        border: 0.2ch solid black;
    }
}

@media screen and (max-width: 800px) {
    nav {
        font-size: 1.1em;

        .title {
            display: none;
        }
    }
}