.onboarding {
    padding: 2em;
    text-align: center;

    h1 {
        font-size: 2em;
        text-transform: uppercase;
        font-family: 'Voltaire';
    }

    p {
        font-size: 1.1em;
        text-align: left;
    }

    .bubble {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        &.reverse {
            flex-direction: row-reverse;
        }

        &.center {
            width: 30em;
            margin: auto;
            display: block;

            h1 {
                text-align: center;
            }
            
            p {
                text-align: center;
            }
        }

        .img {
            text-align: center;
            margin: auto;
            padding: 1.2em;

            p {
                margin: 0;
                font-size: 0.8em;
                text-align: center;
            }

            img {
                height: 14em;
                max-width: unset;
            }
        }
    }

    .lockdown {
        border: 0.5ch white solid;
        padding: 1ch;
        background-color: black;
        color: white;
    }
}

@media screen and (max-width: 1100px) {
    .onboarding {
        padding: 0.5em;

        .bubble {
            width: 60ch;
            margin: auto;
            flex-direction: column;

            &.reverse {
                flex-direction: column;
            }

            &.center {
                width: 50ch;
            }

            .img {
                p {
                    font-size: unset;
                }

                img {
                    height: 18em;
                }
            }
        }
    }
}