.upload {
    input:invalid {
        background-color: ivory;
        border: none;
        outline: 2px solid red;
        border-radius: 5px;
    }

    .imageHolder {
        display: flex;
        flex-flow: row wrap;
        gap: 1ch;

        .imageContainer {
            img {
                max-width: 500px;
            }
        }
    }
}