.upload {
    input:invalid {
        background-color: ivory;
        border: none;
        outline: 2px solid red;
        border-radius: 5px;
    }

    .imageHolder {
        display: flex;
        flex-flow: row wrap;
        gap: 1ch;

        .imageContainer {
            img {
                max-width: 500px;
            }
        }
    }

    textarea {
        resize: none;
        width: 100%;
        height: 7em;
    }
}

.uploaderBar {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;

    background-color: var(--darkest-shade);
    padding: 1ch;
    margin: 1ch 0;
}