{% extends "base-template.html" %}

{% block title %}Characters{% endblock %}

{% block content %}
<div class="wrapper wide character-selector">
    <h1>Characters</h1>
    <h2>{{ random_subtitle }}</h2>

    {% if birthday_characters.len() > 0 %}
    <div class="wrapper dark birthday">
        {% for character in birthday_characters %}
        <img src="{{crate::utils::get_s3_public_object_url(character.thumbnail_key)}}">
        {% endfor %}
        <div>
            <h1>Happy Birthday to {{ birthday_character_names }}!</h1>
            <p>Today is {{ date_today_readable }}, meaning it's their birthday!</p>
        </div>
    </div>
    {% endif %}

    <div class="character-grid">
        {% if active_characters.len() == 0 %}
            <div class="character-box">
                Sorry, but your characters are in another castle!
            </div>
        {% endif %}
        {% for character in active_characters %}
        <a href="/characters/{{ character.slug }}" class="character-box">
            <img class="character-icon" src="{{ crate::utils::get_s3_public_object_url(character.thumbnail_key) }}">
            <p>
                {{ character.name }}
            </p>
        </a>
        {% endfor %}
    </div>

    {% if retired_characters.len() > 0 %}
        <details>
            <summary>Retired Characters</summary>

            <div class="character-grid">
                {% for character in retired_characters %}
                <a href="/characters/{{ character.slug }}" class="character-box">
                    <img class="character-icon" src="{{ crate::utils::get_s3_public_object_url(character.thumbnail_key) }}">
                    <p>
                        {{character.name}}
                    </p>
                </a>
                {% endfor %}
            </div>
        </details>
    {% endif %}

</div>
{% endblock %}