{% extends "base-template.html" %}

{% block title %}{%- if let Some(page_character) = character_being_modified -%}Modify {{page_character.base_character.name}}{%else%}Create New Character{%endif%}{% endblock %}

{% block customhead %}<script src="/static/js/character-page-upload.js" defer></script>{% endblock %}

{% block content %}
<div class="wrapper upload" style="text-align: left">
    <h1>Upload New Character Cool</h1>

    <div id="errorDisplay" style="color:red;">
    </div>

    {%- if let Some(page_character) = character_being_modified -%} 
    <script>
        let characterImageFiles = {
            thumbnail: {
                state: "uploaded",
                key: "{{ crate::utils::get_s3_public_object_url(page_character.base_character.thumbnail_key) }}"
            },
            pageImg: {
                state: "uploaded",
                key: "{{ crate::utils::get_s3_public_object_url(page_character.page_img_key) }}"
            }
            {%- if let Some(logo_url) = page_character.logo_url -%}
            ,logo: {
                state: "uploaded",
                key: "{{ crate::utils::get_s3_public_object_url(logo_url) }}"
            }
            {%- endif -%}
        };
    </script>
    {%- endif -%}

    <label for="characterName">First Name / Short Title:</label>
    <input type="text" id="characterName" required minLength="1"
        {%- if let Some(page_character) = character_being_modified %} value="{{page_character.base_character.name}}" {% endif %}/>
    <br />

    <label for="characterSubtitles">Subtitles: (Each subtitle in a new line!)</label>
    <textarea type="text" id="characterSubtitles" required minLength="1">
        {%- if let Some(page_character) = character_being_modified %}{{page_character.subtitles.join("\n")}}{%- endif -%}
    </textarea>
    <br />

    <label for="characterInfobox">Infobox: (Each piece of info in a new line!)</label>
    <textarea type="text" id="characterInfobox" required minLength="1">
        {%- if let Some(page_character) = character_being_modified -%}
        {%- for infobox in page_character.infobox -%}{{infobox.title}}:{{infobox.description}}
{% endfor -%}
        {%- endif -%}
    </textarea>
    <br />

    <label for="characterCreatorName">Creator Name:</label>
    <input type="text" id="characterCreatorName" required minLength="1"
        {%- if let Some(page_character) = character_being_modified %} value="{{page_character.creator}}" {% endif %}/>
    <br />

    <label for="characterThumbnail">Thumbnail:</label>
    <input type="file" accept="image/*" onchange="setImageFile(event, 'thumbnail')"/> 

    <div id="characterThumbnail" class="imageHolder">
    </div>

    <br />

    <label for="characterBirthday">Birthday: (The year doesn't matter)</label>
    <input type="date" id="characterBirthday"
        {%- if let Some(page_character) = character_being_modified -%} 
        {%- if let Some(birthday) = page_character.base_character.birthday%}
        value="{{birthday}}" 
        {%- endif -%}
        {%- endif -%}/>
    <br />

    <label for="characterImage">Page Image:</label>
    <input type="file" accept="image/*" onchange="setImageFile(event, 'pageImg')"/> 

    <div id="characterImage" class="imageHolder">
    </div>

    <br />

    <details>
        <summary>
            Advanced Settings
        </summary>

        <label for="characterSlug">Page URL (if empty, It'll just copy the name):</label>
        <input type="text" id="characterSlug"
            {%- if let Some(page_character) = character_being_modified %} value="{{page_character.base_character.slug}}" {% endif %}/>
        <br />

        <label for="characterIsHidden">Hide Character: (Won't show up in the character page!)</label>
        <input type="checkbox" id="characterIsHidden" name="characterIsHidden" 
        {%- if let Some(page_character) = character_being_modified %}
            {%- if page_character.base_character.is_hidden -%}
            checked
            {%- endif -%}
            {% endif %} />

        <br />
        
        <label for="characterRetirementReason">Retirement Reason:</label>
        <input type="text" id="characterRetirementReason"
            {%- if let Some(page_character) = character_being_modified %}
                {%- if let Some(retirement_reason) = page_character.retirement_reason -%}
                    value="{{retirement_reason}}"
                {%- endif -%}
                {%- endif -%}/>
        <br />

        <label for="characterLongName">In-Page Name:</label>
        <input type="text" id="characterLongName"
            {%- if let Some(page_character) = character_being_modified -%}
                {%- if let Some(long_name) = page_character.long_name -%}
                    value="{{long_name}}"
                {%- endif -%}
                {%- endif -%}/>
        <br />
        
        <label for="characterTag">Character Tag:</label>
        <input type="text" id="characterTag"
            {%- if let Some(page_character) = character_being_modified %}{% if let Some(tag) = page_character.tag %}value="{{tag}}"{%endif%}{% endif %}/>
        <br />

        <label for="characterLogo">Logo:</label>
        <input type="file" accept="image/*" onchange="setImageFile(event, 'logo')"/> 

        <div id="characterLogo" class="imageHolder">
        </div>

        <label for="characterOverlayCss">Overlay CSS:</label>
        <textarea type="text" id="characterOverlayCss">
            {%- if let Some(page_character) = character_being_modified -%}
            {%- if let Some(overlay_css) = page_character.overlay_css -%}
            {{ overlay_css }}
            {%- endif -%}
            {%- endif -%}
        </textarea>
        <br />

        <label for="characterCustomCss">Custom CSS:</label>
        <textarea type="text" id="characterCustomCss">
            {%- if let Some(page_character) = character_being_modified -%}
            {%- if let Some(custom_css) = page_character.custom_css -%}
            {{ custom_css }}
            {%- endif -%}
            {%- endif -%}
        </textarea>
        <br />
    </details>

    <label for="characterPageContents">Page Text: (Markdown-compatible! Y'know, like, the formatting discord messages use.) </label>
    <textarea id="characterPageContents" style="height:20em;">{%- if let Some(page_character) = character_being_modified %}{%- if let Some(page_contents) = page_character.page_contents %}{{page_contents}}{% endif %}{% endif %}</textarea>

    </br>

    <div class="buttons">
        {%- if character_being_modified.is_some() %}
        <button class="dark" onclick="sendDeleteRequest({% if let Some(actual_target_button_url) = target_button_url %}'{{actual_target_button_url}}'{% endif %})">Delete Character</button>
        {%- endif -%}
        <button class="light" onclick="attemptNewCharacterUpload({% if let Some(actual_target_button_url) = target_button_url %}'{{actual_target_button_url}}'{% endif %})">Upload Character</button>
    </div>
</div>
{% endblock %}