{% extends "base-template.html" %}

{% block title %}{{ name }}{% endblock %}

{% block customhead %}
    {% if let Some(overlay_css) = overlay_css %}
        <style>
            .overlay::before {
                {{ overlay_css }}
            }
        </style>
    {% endif %}
    {% if let Some(custom_css) = custom_css %}
        <style>{{ custom_css }}</style>
    {% endif %}
{% endblock%}

{% block body %}
<div class="overlay">
    {% include "components/navbar.html" %}
    <div class="wrapper dark character-div">
        {% if let Some(retirement_reason) = retirement_reason %}
            <div class="exclusion-reason">
                <img src="//powerdown.wiki/assets/img/Alert Icon.png">
                <div class="exclusion-text">
                    <div class="exclusion-title">
                        THIS CHARACTER IS NOT ACTIVELY IN POWER DOWN
                    </div>
                    {{ retirement_reason | safe }}
                </div>
            </div>
        {% endif %}
        <div class="character-top">
            <div class="left">
                <div class="titles">
                    <div>
                        <h1>{{ name }}</h1>
                        {% if let Some(logo_path) = character_logo %}
                            <img src="{{ logo_path }}">
                        {% endif %}
                    </div>
                    <h2 id="character-subtitle">{{ subtitle }}</h2>
                    <p class="text">
                        {% for item in infobox %}
                            <strong>{{item.title}}:</strong> {{item.description}} <br>
                        {% endfor %}
                    </p>
                    <a class="text" href="/tags/{{ tag }}">
                        ART OF {{ name }}
                    </a>
                </div>
            </div>
            <div class="right">
                <img src="{{ page_img }}">
                <p>
                    Creator: {{ creator }}
                </p>
            </div>
        </div>

        <div class="character-bottom">
                {{ content | safe }} 
        </div>
    </div>
    
</div>
{% endblock %}
