{% extends "base-template.html" %}

{% block title %}Art{% endblock %}

{% block content %}
<div class="wrapper wide art-selector-v2">
    <h1>Art</h1>

    <h2>"{{ random_quote }}"</h2>

    <div class="option-bar">
        <div class="searchbar">{# TODO #}</div>

        <div class="pages">
            {% include "components/page_number_scroller.html" %}
        </div>
        
        <a class="sex-button" id="nsfw-toggle" href="/art?nsfw={%if user_search_params.nsfw%}false{%else%}true{%endif%}{%if user_search_params.tags.len() > 0 %}&tags={{user_search_params.tags.join(",")}}{% endif %}">
            <span>Sex</span>
        </a>
    </div>

    <div class="art-grid">
        {% for artpiece in art_pieces -%}
        <a class="artpiece" href="/art/{{ artpiece.slug }}{{user_search_params.to_uri_parameters(false)}}">
            <div class="onhover{% if artpiece.has_video %} video{%- endif %}">
            <div class="art-name">
                {{ artpiece.title }}
            </div>
            <div class="artist-name">
                {{ artpiece.creators | join(", and ") }}
            </div>
            </div>
            <img src="{{artpiece.thumbnail_url}}">
        </a>
        {% endfor -%}
    </div>
</div>
{% endblock %}