{% extends "base-template.html" %}

{% block title %}Art{% endblock %}

{% block customhead %}<script src="/static/js/tag-search-box.js" defer></script>{% endblock %}

{% block content %}
<div class="wrapper wide art-selector-v2">
    <h1>Art</h1>

    <h2>"{{ random_quote }}"</h2>

    <div class="option-bar">
        <div class="searchbar" id="tag-search" data-base-url="/art">
            {%- for tag in user_search_params.tags -%}
                <div class="tag">
                    <span class="tag-name">{{tag}}</span><span class="tag-remove">×</span>
                </div>
            {%- endfor -%}
            <input type="text" id="tag-input" autocomplete="off" list="all-tags" />

            <datalist id="all-tags">
                {%- for tag in all_tags -%}
                <option value="{{ tag }}"/>
                {%- endfor -%}
            </datalist>
        </div>

        <div class="pages">
            {% include "components/page_number_scroller.html" %}
        </div>
        
        <a class="sex-button{% if user_search_params.is_nsfw %} on{% endif %}" id="nsfw-toggle" href="/art{{ user_search_params.flipped_nsfw_uri_params() }}">
            <span>Sex</span>
        </a>
    </div>

    <div class="art-grid">
        {% for artpiece in art_pieces -%}
        <a class="artpiece" href="/art/{{ artpiece.slug }}{{user_search_params.to_uri_parameters(false)}}">
            <div class="onhover">
                <div class="art-name">
                    {{ artpiece.title }}
                </div>
                <div class="artist-name">
                    {{ artpiece.creators | join(", and ") }}
                </div>
            </div>
            <img src="{{ artpiece.get_thumbnail_url() }}">
        </a>
        {% endfor -%}
    </div>

    {% if user.is_some() %}
    <a href="/art/new">Upload new art!</a>
    {% endif %}
</div>
{% endblock %}