{% extends "base-template.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Login to Wiki</h1>

    {% if let Some(user) = user %}
        <p>On this page, you can add extra login methods to your existing account. That way, if you lose access to one, you can still access your wiki account.</p>
    {% else %}
        <p>If you're seeing this page, the website can't recognize you. This means you either need to create an account or log in.</p>
    {% endif %}

    <a href="{{discord_oauth_url}}">Login using Discord</a>

    <br>

    <a href="{{google_oauth_url}}">Login using Google</a>

    <br>

    <a href="{{github_oauth_url}}">Login using Github</a>

    <p>Yes, you do have to log in using a different account. No, I will not make accounts only for the wiki. Trust me, you do not want me to have your emails.</p>
</div>
{% endblock %}