<h1>Art</h1>

<h2>{{ random-subtitle }}</h2>

<div class="art-grid">
    {%- for artpiece in art_pieces -%}
      <a class="artpiece" href="/art/{{ artpiece.slug }}">
        <div class="onhover{% if artpiece.has_video %} video{%- endif %}">
          <div class="art-name">
              {{ artpiece.title }}
          </div>
          <div class="artist-name">
            {{ artpiece.artists | join(", and ") }}
          </div>
        </div>
        <img src="{{artpiece.thumbnail_url}}">
      </a>
    {%- endfor -%}
</div>