{% extends "base-template.html" %}

{% block title %}ERROR 404{% endblock %}

{% block meta %}
<meta property="og:title" content="ERROR 404">
<meta property="og:description"
    content="This link is dead. Don't click on it, you won't find no pots of gold here.">
<meta property="og:image" itemprop="image"
    content="{{ *crate::askama::WEBSITE_URL }}/static/img/pd_logo_with_stroke.png">
{% endblock %}

{% block content %}
<div class="wrapper" style="text-align: center;">
        <h1>Huh? Wuh?</h1>
        <img src="/static/img/404.png" style="width: 50ch; margin: 1em; max-width: 90%;">
        <p style="text-wrap: balance;">
            If you landed on this page you either clicked on an invalid link or misremembered how to write it. Either way: wrong door, buddy.
        </p>
    </div>
{% endblock %}