<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <title>{% block title %}Default Title{% endblock %}</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="/static/css/index.css">
        {% endblock %}
    </head> 
    <body>
        {% block body %}
            {{ navbar | safe }}
            {% block content %} 
            <p>Whoops! Someone forgot to fill in the Content Block!</p>
            {% endblock %}
        {% endblock %}
    </body>
</html>