{% extends "base-template.html" %}

{% block title %}Front Page{% endblock %}

{% block content %}

<div class="wrapper wide frontpage">
    <div class="frontpage-top">
        <div class="titles">
            <h1>The Power Down Wiki</h1>
            <h2>{{ random_quote }}</h2>
        </div>
        
        <div class="logo">
            <img src="/static/img/pd_logo.svg">
        </div>

        <div class="links">
            <a class="onboard" href="/onboarding">
                <img src="https://powerdown.wiki/assets/img/clueless.png">
                <span>
                    New Here?
                </span>
            </a>

            <a class="discord" href="/">
                <img src="https://powerdown.wiki/assets/img/discord-logo.svg">
                <span>
                    Join PD!
                </span>
            </a>
        </div>
    </div>

    <div class="frontpage-bottom">
        <div class="frontpage-buttons">
            {%- for button in buttons -%}
                <a class="button" href="{{ button.url }}">
                    <span>
                        {{ button.name }}
                    </span>
                    <img src="{{ button.image_url }}">
                </a>
            {%- endfor -%}
        </div>

        <div class="joke-area">
            <div class="brought-by">
                <div>This Website is Sponsored By:</div>
                <img id="brought-by-img" src="https://powerdown.wiki/{{ random_ad }}">
            </div>
            {%- for character in birthday_characters -%}
            <div class="wrapper birthday">
                <img class="character-icon" src="{{ character.thumbnail_url }}" />
                {%- if loop.first -%}
                <div>
                    <p>Today is {{ today_date }}!</p>
                    <h1>Also known as {{ character.name }}'s birthday!</h1>
                </div>
                {%- else -%}
                <div>
                    <h1>...and {{ character.name }}'s birthday!</h1>
                </div>
                {%- endif -%}
            </div>
            {%- endfor -%}
        </div>
    </div>
</div>
{% endblock %}